.footer {
    max-width: 100%;
    padding: 0 20px;
    margin: 080px auto 0;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgb(34 34 34 / 20%), 0 0 20px 0 rgb(34 34 34 / 20%);
    outline: 2px dashed #fff;
}

.footer__section {
    max-width: 500px;
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;
}

.footer__paragraph {
    opacity: 0.75;
}

.js-dark-theme {
    color: #ddd;
    background-color: #666;
}

.js-dark-theme .footer {
    background-color: #222;
    outline: 2px dashed #222;
}