html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f4;
    line-height: 1.55;
    font-size: 16px;
}